<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GhostText</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        
        <div class="top-bar">
            <button id="langBtn" class="lang-switch">
                <span id="textEN" class="active-lang">EN</span>
                <span class="divider">/</span>
                <span id="textAR">AR</span>
            </button>
        </div>
        
        <div class="hacker-container">
            <h1 class="logo">Ghost<span>Text</span></h1>
            
            <div class="action-buttons">
                <button id="hideBtn" class="btn-hide">🔒 Hide Secret</button>
                <button id="extractBtn" class="btn-extract">🔓 Extract Secret</button>
            </div>
            
        </div>
        
    </body>
</html>